.sixth-head{
    text-align: center;
    width: 100%;
    margin: 0  auto 3% auto;
}
.owner{
    padding-top: 10%;
}
.sixth-head span{
    text-transform: uppercase;
}
.sixth-head h1{
    font-size: 50px;
    padding-bottom: 10px;
    color: #222222;
}
.sixth-head p{
    color: #5d5c5c;
    width: 70%;
    margin: 0 auto;
}
.sixth-info {
    margin:-5% auto 2% auto !important;
}
.sixth-head h1:after{
    content: '';
    display: block;
    width: 10%;
    margin: 0 auto;
    border-bottom: 2px solid #552ADF;
;
}

