@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Poppins:wght@300&display=swap');
nav.nav{
    width: 80%;
    margin: 0 auto;
    padding-top: 1%;

}
.closing{
    position: absolute;
    top:0;
    right: 20px;
    color: white;
    font-size: 20px;
}
.show{
    color: white;
}
nav.nav i{
    display: none;
    padding:5px;
    color: white;
}
nav.nav #hidden{
    display: flex;
}
nav.nav ul.ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav.nav ul.ul li.li {
    padding: 1rem 1.55rem;
    list-style: none;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: flex-end;
}
li.arrow::after{
    content: '\01F893';
    margin-bottom: -13px;
    padding-left: 10px;
    display: flex;
    align-items: flex-end;
}
.price{
    cursor: pointer;
}
.inner-ul li{
    list-style: none;
    width: auto;
}
.inner-ul li button{
    border: none;
    padding: 5px;
    width: 55px;
    cursor: pointer;
    color: #6D2DE3;
    background-color: white;
}
.inner-ul li button:nth-child(1){
    margin-bottom: 5px;
}
@media screen and (max-width: 820px) {
    nav.nav ul.ul li.li{
        display: flex;
        padding: 0.5rem 1rem;
    }
}
@media only screen and (max-width: 765px){
    nav.nav{
        width: 100%;
        height: auto;
    }
    nav.nav ul.ul{
        display: none;
    }
    nav.nav i{
        display: flex;
    }
    nav.nav #hidden{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav.nav #hidden li{
        font-size: 25px;
    }
}
