.nine{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f6f9fe;
}
.nine-container{
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nine-inner{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.nine-inner-info{
    flex: 1;
}
.nine-inner-form{
    flex: 1;
}
@media screen and (max-width: 1100px) {
    .nine{
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        background: #f6f9fe;
    }
    .nine-container{
        width: 90%;
    }
}
@media screen and (max-width: 750px) {
    .nine{
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        background: #f6f9fe;
    }
    .nine-inner{
        width: 100%;
        display: block;
    }
}