.second-page{
    width: 66%;
    margin: 5% auto 0 auto;
    height: auto;
    box-sizing: border-box;
}

@media screen and (max-width: 820px){
    .second-page{
        width: 100%;
        height: auto;
        box-sizing: content-box;
    }
}
@media screen and (max-width: 750px){
    .second-page{
        width: 100%;
        height: auto;
        box-sizing: content-box;
    }
}
