.seventh{
    width: 90%;
    margin: 0 auto ;
    height: 67vh;
    background: url('../../Images/images/download-bg.jpeg') center;
    color: white;
}
.seventh-inner{
    background: rgb(64, 64, 88,0.7);
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.seventh-inner .seventh-info{
    width: 70%;
    margin: 0 auto;
}
.seventh-info h1{
    font-size: 60px;
    padding-bottom: 2%;
}
.images-container{
    display: flex;
    width: 45%;
    padding: 3% 0 2% 0;
    margin: 0 auto;
    justify-content: space-between;
}
.information{
    width: 92%;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    color: white !important;
}
p.italic{
    font-style: italic;
    font-size: 21px;
}
.images-container .left-image,.images-container .right-image{
    width: 250px;
    height: 70px;
}
.images-container .left-image img,.images-container .right-image img{
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 1100px) {
    .images-container .left-image,.images-container .right-image{
        width: 140px;
        height: 70px;
    }
}
@media screen and (max-width: 820px){
    .seventh{
        width: 100%;
    }
    .seventh-info h1{
        font-size: 40px;
        padding-bottom: 2%;
    }
    .images-container .left-image,.images-container .right-image{
        width: 110px;
        height: 70px;
    }
}
@media screen and (max-width: 750px){
    .seventh{
        width: 100%;
    }
    .seventh-info h1{
        font-size: 30px;
        padding-bottom: 2%;
    }
    .images-container{
        display: flex;
        width: 45%;
        padding: 3% 0 2% 0;
        margin: 0 auto;
        justify-content: space-between;
    }
    .seventh-inner .seventh-info{
        width: 95%;
    }
    .information{
        width: 100%;
        text-align: center;
        margin: 0 auto;
        font-size: 15px;
    }
    .images-container .left-image,.images-container .right-image{
        width: 120px;
        height: 70px;
    }
    p.italic{
        font-size: 15px;
    }

}