.list h1{
    font-size: 50px;
    color: #222222;
}
.third-page-container-info-ul li{
    list-style: none;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.third-page-container-info-ul li div{
    margin-right: 3%;
}

.third-page-container-info-ul .logo-img{
    width: 16px;
    color: #4b29dc;
}
.third-page-container-info-ul li p{
    color: #5d5c5c;
}
@media screen and (max-width: 820px){
    .list{
        width: 100%;
        margin: 2% auto;
        height: auto;
        display: block;
    }
    .list h1{
        font-size: 40px;
    }
}
@media screen and (max-width: 750px){
    .list h1{
        font-size: 30px;
    }

}
@media screen and (max-width: 500px){
    .list h1{
        font-size: 25px;
    }
    .list ul li{
        border-bottom: 0.5px solid gray;
    }
}



